version: "3.8"

services:
  # PostgreSQL Database
  db:
    image: postgres:16
    container_name: social_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blog
    volumes:
      - pgdata:/var/lib/postgresql/data

  # MinIO (S3 local)
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console UI
    command: server /data --console-address ":9001"
    env_file:
      - ./backend/.env # récupère MINIO_ROOT_USER et MINIO_ROOT_PASSWORD depuis .env
    volumes:
      - ./backend/minio_data:/data # stockage persistant dans backend/minio_data

  # Backend NestJS
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: social_backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - minio
    networks:
      - social-network
    command: npm run start:dev

volumes:
  pgdata: {} # volume persistant pour PostgreSQL

networks:
  social-network:
    driver: bridge
